<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

Hello, <%= @name %>.
Today is <%= Time.now.strftime('%E') %>.

<%= Time.now %>

 